.page-outer-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

  .page-container {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 20px;
  }
}

.popover-container {
  width: auto;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  row-gap: 10px;
  column-gap: 14px;

  .item {
    justify-self: left;
  }

  .item::after {
    content: ":";
  }

  .value {
    justify-self: left;
    font-family: Monaco, Menlo, monospace;
  }
}

.session-select-and-create {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.option-item-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
